<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ConfigNotification"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DatSanBongDa"
        tools:targetApi="31">
        <activity
            android:name=".ActivityKhachHang.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.DoiMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.Xac_Nhan_DMK_Activity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.Quen_Mk_KH_Activity"
            android:exported="false" />
        <activity
            android:name=".ActivityChuSan.ThongTinSanChuSanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.ThongTinSanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityChuSan.MainChuSanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityChuSan.DoanhThuActivity"
            android:exported="false" />
        <activity
            android:name=".ManHinhChaoActivity2"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.LienHeActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.DatSanActivity"
            android:exported="false" />
        <activity
            android:name=".DangKiActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.ChiTietSanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityKhachHang.DatChoActivity"
            android:exported="false" />
        <activity
            android:name=".DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>